<div class="pa4 bg-white-1">
  <div class="center w-100 w-50-l pa2">
    <table class="collapse ba br2 b--black-10 pv2 ph3" style="width: 100%">
      <tbody>
        <tr class="striped--light-gray" style="padding: 0.75rem; text-align: left">
          <td class="pv2 ph3 f7 f6-l ba">名称</td>
          <td class="pv2 ph3 f7 f6-l ba">NPO法人スポーツクラブ飯山</td>
        </tr>
        <tr>
          <td class="pv2 ph3 f7 f6-l ba">クラブ設立</td>
          <td class="pv2 ph3 f7 f6-l ba">2004年2月設立</td>
        </tr>
        <tr>
          <td class="pv2 ph3 f7 f6-l ba">会員数</td>
          <td class="pv2 ph3 f7 f6-l ba">581名</td>
        </tr>
        <tr>
          <td class="pv2 ph3 f7 f6-l ba">会費</td>
          <td class="pv2 ph3 f7 f6-l ba">だれでも1,000円/年</td>
        </tr>
        <tr>
          <td class="pv2 ph3 f7 f6-l ba">主な活動場所</td>
          <td class="pv2 ph3 f7 f6-l ba">飯山町総合運動公園、飯山体育館、武道場他</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
