<footer class="bg-black white">
	<div class="bg-black ph3 pv4 white">
	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">アクセス</h3>
				<ul class="mb3">
					<p style="margin-bottom: 10px;">香川県丸亀市飯山町東坂元２７１３－１</p>
					<p style="margin-bottom: 10px;">飯山総合運動公園体育館内</p>
					<p style="margin-bottom: 10px;">ＴＥＬ：0877-98-6800</p>
				</ul>
			</div>
		{{/*
			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>
		*/}}
		</div>
	</div>
</div>
	<div class="copyright" style="text-align: center;">Copyright &copy; NPO法人 スポーツクラブ飯山 all Rights Reserved.</div>

</footer>
