<nav class="db dt-l w-100 border-box pa3 ph5-l">

	<!-- Logo -->
	<a href="/" class="db dtc-l v-mid mid-gray link dim w-100 w-75-l tc tl-l mb2 mb0-l b f3">
		NPO法人 スポーツクラブ飯山
	</a>

	<!-- Primary Nav -->
	<div class="db dtc-l v-mid w-100 w-25-l tc tr-l">
		<a href="/" class="link dim dark-gray f6 f5-l dib mr3 mr4-l b">Home</a>

		<a href="/policy/" class="link dim dark-gray f6 f5-l dib mr3 mr4-l b">Policy</a>
{{/*
		<li><a href="/access/" class="pa3 no-underline db">Contact</a></li>
*/}}
	</div>
</nav>
